<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Subscribe here:</h1>
    <p>Enter your email here: </p>
    <form method="POST" action="">
      <input type="text" name ="email" placeholder="Enter email here.."><br>
      <input type="submit" value="Subscribe!"/>
    </form>
  </body>
</html>
